h1{
    font-size: xxx-large;
}
.container{
    border-style: dotted;
    height: 840px;
    width: 450px;
    position: relative;
}
.div1{
    border-style: solid;
    width: 200px;
    height: 130px;
    background:none;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    top: 0%;
    position: relative;
  }
  .div2{
    border-style: solid;
    width: 200px;
    height: 130px;
    background: none;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    left:220px;
    bottom: 142px;  }
  .div3{
    border-style: solid;
    width: 200px;
    height: 130px;
    background: none;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    bottom: 142px; 
  }  .div4{
    border-style: solid;
    width: 200px;
    height: 130px;
    background: none;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    left:220px;
    bottom: 285px;
  }  .div5{
    border-style: solid;
    width: 200px;
    height: 130px;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    left:0px;
    bottom: 285px;

  }.div6{
    border-style: solid;
    width: 200px;
    height: 130px;
    background: none;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    left:220px;
    bottom: 427px;
  }.div7{
    border-style: solid;
    width: 200px;
    height: 130px;
    background: none;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    left:0px;
    bottom:427px;
  }.div8{
    border-style: solid;
    width: 200px;
    height: 130px;
    background: none;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    left:220px;
    bottom: 570px;
  }.div9{
    border-style: solid;
    width: 200px;
    height: 130px;
    background: none;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    left:0px;
    bottom: 570px;
  }.div10{
    border-style: solid;
    width: 200px;
    height: 130px;
    background: none;
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    left:220px;
    bottom: 715px;
  }
button{
    background-color:none;
    border: solid;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 6px;
    border-radius: 12px;
    position: relative;
    left:0px;
    bottom: 700px;
    
}
span{
    position: relative;
    bottom: 700px;
}